body{
    display: grid;
    grid-template-columns: 33% auto;
    gap: 8px;
}
.calc{
    display: grid;
    grid-template-columns: auto;
    gap: 8px;
}
.grid-4{
    grid-column: span 4;
}
.grid-2{
    grid-column: span 2;
}